// styles for page header

header#header{
  padding-top: 9px;
  position: relative;
  height: $header-height + 1;
  
  ul.s-list{
    
    li{
      display: block;
      float: left;
      margin-right: 13px; 
    }
  }
  
  .s-block{
    width: 150px;
    height: 29px;
    line-height: 29px;
    position: relative;
    margin-left: 20px;
    
    input[type=text]{
      height: 29px;
      display: block;
      width: 100%;
      padding: 0 15px 0 14px;
      color: $color-l-green;
      font-weight: $font-bold;
      text-transform: uppercase;
      font-size: $font-12;
      @include border-radius(14px);
      background: $bg-green;
      border: 0;
    }
    
    input[type=submit]{
      border: none;
      color: transparent;
      position: absolute;
      top: 7px;
      right: 6px;
    }
  }
  
  .logo-block{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -95px;
  }
}

nav#navigation{
  padding-top: 24px;
  ul.menu{
    overflow: hidden;
    li{
      border-bottom: 1px solid $border-green;
      display: block;
      float: left;
      
      a{
        text-transform: uppercase;
        font:{
          weight: $font-bold;
          size: $font-18;
        }
      }
      
      &.menu-item-1{
        padding-right: 43px;
      }
      
      &.menu-item-2{
        padding-right: 35px;
      }
      
      &.menu-item-3{
        padding-right: 43px;
        margin-right: 172px;
      }
      
      &.menu-item-4{
        padding-left: 35px;
      }
      &.menu-item-5{
        text-align: right;
        padding-left: 62px;
      }
    }
  }
}
