$icon-sprite-dimensions: true;
$icon-layout:smart;
@import "icon/*.png";
@include all-icon-sprites;
$icons: sprite-map("icon/*.png");

.flex-direction-nav .flex-next {
  @include icon-sprite(arrow-r);
}

.flex-direction-nav .flex-prev {
  @include icon-sprite(arrow-l);
}

.e-form input[type=checkbox] + label:before{
  @include icon-sprite(check);
}

.e-form input[type=checkbox]:checked + label:before{
  @include icon-sprite(checked);
}

.product-list a:before{
  @include icon-sprite(search-button);
}

ul.text-list li:before{
  @include icon-sprite(dot);
}

.r-block .img-part:after{
  @include icon-sprite(logo-flag);
}
