a, input{
  outline: none;
}


a{
  text-decoration: none;
  color: $color-green;
  
  &.small-link{
    font-size: $font-12;
  }
}

.orange{
  color: $color-orange;
}

.green{
  color: $color-m-green;
}

.green-l{
  color: $color-l-green
}

.blue{
  color: $color-l-blue;
}

.blue-l{
  color: $color-m-blue;
}

b, strong, .bold{
  font-weight: $font-bold;
}

i, em{
  font-style: italic;
}

.p-cursive{
  font-family: $font-parisienne;
}

.uppercase{
  text-transform: uppercase;
}
