a, input{
  outline: none;
}


a{
  text-decoration: none;
  color: $color-green;
  
  &.small-link{
    font-size: $font-12;
  }
}

.orange{
  color: $color-orange;
}

.green{
  color: $color-m-green;
}

.green-l{
  color: $color-l-green
}

.salat{
  color: $color-salat;
}

.blue{
  color: $color-l-blue;
}

.blue-l{
  color: $color-m-blue;
}

b, strong, .bold{
  font-weight: $font-bold;
}

i, em{
  font-style: italic;
}

.p-cursive{
  font-family: $font-parisienne;
}
.middle{
  font-size: $font-39;
}
.uppercase{
  text-transform: uppercase;
}
.underline{
  text-decoration: underline;
}
sup{
  vertical-align: text-top;
  font-size: 12px;
  line-height: 1em;
}
h1{
  font:{
    size: $font-28;
    weight: $font-medium;
  }
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  
  &.large-h{
    font-size: $font-30;
    line-height: 1em;
    
    .p-cursive{
      font-size: 1.3em; // 39/30
      text-transform: none;
    }
  }
}


h2{
  font:{
    size: 1em;
    weight: $font-semibold; 
   }
   text-transform: uppercase;
   
  &.w-b{
   overflow: hidden;
   text-align: center;      
   color: $color-green;
   line-height: 1em;
   margin-bottom: 35px;
   
   &:after, &:before{
     border:{
       top: 1px solid $border-green;
       bottom: 1px solid $border-green;
     }
     content: "";
     display: inline-block;
     height: 2px;
     position: relative;
     vertical-align: middle;
     width: 50%;
     top: -2px;
   }
   
    &:before {
      right: 0.5em;
      margin-left: -50%;
    }
    
    &:after {
     left: 0.5em;
     margin-right: -50%;
    }
  }
} 
.h-p{
  font:{
    size: $font-12;
    weight: $font-bold;
  }
  text-transform: uppercase;
  text-align: center;
  line-height: 1.667em; // 20/12
  
}


.t-r{
  text-align: right;
}
.t-l{
  text-align: left;
}
.t-c{
  text-align: center;
}
.button{
  display: inline-block;
  background: #8dc85a;
  border-radius: 15px;
  height: 30px;
  padding: 6px 10px 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #4a7225;
  border: none;
  box-shadow: inset 0 -1px 1px #54892e;
  font-family: $font-raleway;
  font-size: $font-14;
}


ul.text-list{
  padding-left: 10px;
  
  li{
    display: block;
    position: relative;
    
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: -10px;
      top: 8px;
    }
  }
}