//layout 
$width-main: 980px;
$header-height: 167px;

$padding-main: 20px;






//typography
$font-raleway: 'Raleway', Helvetica, sans-serif;
$font-parisienne: 'Parisienne', cursive;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$font-12: 0.75em;
$font-13: 0.813em;
$font-14: 0.875em;
$font-15: 0.938em;
$font-16: 1em;
$font-17: 1.063em;
$font-18: 1.125em;
$font-19: 1.186em;
$font-23: 1.437em;
$font-24: 1.5em;
$font-28: 1.75em;
$font-30: 1.875em;
$font-32: 2em;
$font-39: 2.438em;
$font-43: 2.688em;
$font-53: 3.313em;

$line-height: 1.25em; //20/16



//colors

$color-white: #ffffff;
$color-green: #507d29;
$color-l-green: #8dc85a;
$color-m-green: #379448;
$color-blue: #66bbfd;
$color-l-blue: #3496fa;
$color-m-blue: #86c2fe;
$color-orange: #ff8800;
$color-black: #000000;
$color-grey: #666666;
$color-l-grey: #999999;
$color-salat: #bee089;
$color-placeholder: #8f8f8f;



//backgrounds
$bg-black: #000000;
$bg-overlay: rgba(0,0,0,.82);
$bg-i-text: rgba(0,0,0,.52);
$bg-green: #203a07;
$bg-l-green: #91d667;
$bg-l-blue: #b4e7f8;
$bg-white: #ffffff;

//borders
$border-green: #37551c;
$border-l-green: #3c5e1f;
$border-m-green: #7c9e5f;
$border-grey: #c2c2c2;
