.l-block{
  position: relative;
  
  a{
    display: block;
    
    &:hover{
      position: relative;
      
      &:after{
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        @include border-radius(50%);
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $color-salat;
      }
    }
  }
}

.e-block{
  position: absolute;
  top: 100%;
  left: -154px;
  background: $bg-white;
  width: 323px;
  height: 470px;
  margin-top: 11px;
  padding: 18px 20px;
  color: $color-grey;
  font:{
    size: $font-14;
  }
  line-height: 1.286em; // 18/14
  z-index: 100;
  @include opacity(0);
  display: none;
  
  &.show{
    display: block;
    @include opacity(1);
    @include transition (opacity .3s ease-out 0s);
  }
  
  &:after{
    @include triangle(up, $bg-white, 11px);
      top: -10px;
      left: 50%;
      margin-left: -6px;    
  }
  
  .d-head{
    text:{
      transform: uppercase;
      align: center;
    }
    display: block;
    color: $color-green;
    font-size: 1.286em; //18/14
    border-bottom: 1px solid $border-m-green;
    padding-bottom: 10px;
    margin-bottom: 2px;
  }
  
  .e-form{
    border-top: 1px solid $border-m-green;
    padding-top: 10px;
    
    p{
      padding-bottom: 15px;
      
      &.note{
        padding: 0 20px 5px;
        font-size: 0.857em; //12/14
        line-height: 1.333em; //16/12
      }
    }
     
    .button{
      padding: 5px 30px 4px;
      font-size: $font-16;
    }
  } 

  &.content-form{
    position: relative;
    @include opacity(1);
    display: block;
    left: 0;
    top: -20px;
    height: auto;
    width: 460px;
    margin-left: 240px;
    
    &:after{
      @include triangle(up, $bg-white, 20px);
      margin-left: -20px;
      top: -20px;
    }
    
    .e-form{      
      border: 0;
      padding: 0 75px;
      
      .t-c{
        padding-bottom: 0;
        margin-bottom: -15px;
      }
      
    }
  }
  .check-list{
    padding: 0 20px;
  }
}

input[type=checkbox]{
    
  + label {
    cursor: pointer;
    position: relative;
    vertical-align: top;
    margin-left: 5px;
    color: $color-grey;
    font-size: 12px;
  }
}

.button-part{ 
  text-align: center;
  padding-top: 10px;
}

.e-input{
  display: block;
  border: 1px solid $border-grey;
  height: 32px;
  padding: 0 5px;
  width: 100%;
  margin-bottom: 11px;
  font-family: $font-raleway;
  
  &:-moz-placeholder{
    text-transform: uppercase;
    color: #4a7225;
    font:{
      weight: bold;
      size: 0.857em; //12/14
    }
  }
  
  &::-moz-placeholder{
    text-transform: uppercase;
    color: #4a7225;
    font:{
      weight: bold;
      size: 0.857em; //12/14
    }
  }
  
  &::-webkit-input-placeholder{
    text-transform: uppercase;
    color: #4a7225;
    font:{
      weight: bold;
      size: 0.857em; //12/14
    }
  }   
  
  &:-ms-input-placeholder{
    text-transform: uppercase;
    color: #4a7225;
    font:{
      weight: bold;
      size: 0.857em; //12/14
    }
  }
  
  &.m-input{
    width: 225px;
  }
}

select{
  width: 100px;
}
